<!DOCTYPE html>
<html>
  <head>
    <title>Chuck Norris</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Chuck Norris Facts</h1>
    <h2>Humor straight from 2005!</h2>
<form action="/" method="GET">
  <label for="chuckBtn"><%=chuckData.value%></label>
  <button type="submit">Chuck Jokes</button>
</form>
  </body>

</html>
